/**
 * Base style, fluid with, absolute positioned, one sidebar on the lefthand side.
 */
body {
  margin:0;
  padding:0;
}
#branding {
  height:150px;
}
#branding-name {
  position:absolute;
  top:22px;
  right:0;
  font-size:22px;
}
#branding-tagline {
  position:absolute;
  top: 58px;
  right:0;
}
#search {
  position:absolute;
  top: 4px;
  right:0;
}
#tools {
  position:absolute;
  left:0;
  top:150px;
  width:210px;
}
#content-main,
ul.local-tasks {
  margin:12px 44px 12px 260px;
}
#siteinfo {
  clear:both;
}
#nav-main {
  position:absolute;
  top: 91px;
  left: 0px;
  width:100%;
  margin:0; /* avoid horizontal scrollbar */
  padding:0;
}
#nav-section {
  position:absolute;
  top: 122px;
  left: 0px;
  width:100%;
  text-align: center;
}
.horizontal-list li {
  display:inline;
  list-style-type:none;
}
#nav-breadcrumb {
  clear:both;
}