/**
 * Base style, fluid with, absolute positioned, one sidebar on the lefthand side.
 */
body {
  margin:0;
  padding:0;
}
#branding {
  height:150px;
}
#branding-logo {
  position:absolute;
  top:12px;
  left:44px;
  width:100px;
}
#branding-name {
  position:absolute;
  top:12px;
  left:156px; /**100 of logo width + 12 px white + 44px logo offset*/
  font-size:22px;
  margin:0;
  padding:0;
}
#branding-tagline {
  position:absolute;
  bottom: 112px;
  left: 156px;
  border:1px solid grey;
}
#search {
  position:absolute;
  top: 4px;
  right:0;
}
#tools {
  position:absolute;
  left:44px;
  top:150px;
  width:210px;
  margin:0;
  padding:0;
}
#navigation {
  position:absolute;
  top: 150px;
  right: 44px;
  width:210px;
  margin:0;
  padding:0;
}

#content-main,
ul.local-tasks {
  margin:12px 44px;
}
#siteinfo {
  clear:both;
}

#nav-section {
  position:absolute;
  top: 122px;
  left: 0px;
  width:100%;
  text-align: center;
}
.horizontal-list li {
  display:inline;
  list-style-type:none;
}
#nav-breadcrumb {
  clear:both;
}