/**
 * Base style, fluid with, absolute positioned, one sidebar on the lefthand side.
 */
body {
  margin:0;
  padding:0;
}
#branding {
  height:110px;
  position:relative;
}
#branding-name {
  position:absolute;
  top:22px;
  left:44px;
  font-size:22px;
}
#branding-tagline {
  position:absolute;
  top: 58px;
  right:0;
}
#search {
  position:absolute;
  top: 4px;
  right:0;
}
#tools {
  position:absolute;
  right:22px;
  top:136px;
  width:210px;
}
#content-main {
  margin:24px 260px 12px 44px;
  padding:2em;
}
/**
 * Guillotine bug. Core has been so kind to use floats...
 * http://www.positioniseverything.net/easyclearing.html
 */
#content-main:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html #content-main {height: 1%;}
/* End hide from IE-mac */

ul.local-tasks {
  margin:24px 260px -24px 44px;
}
#siteinfo {
  clear:both;
}
#nav-main {
  display:none;
}
#nav-main-admin {
  position:absolute;
  top: 84px;
  left: 44px;
  margin:0; /* avoid horizontal scrollbar */
  padding:0;
}
#nav-main-admin li {
  padding: 4px 8px 0 8px;
  margin: 0 8px 0 0;
  height: 22px;
  display: block;
  float:left;
}
.horizontal-list li {
  display:inline;
  list-style-type:none;
}
#nav-breadcrumb {
  position: absolute;
  top: 114px;
  height: 20px;
  right: 14px;
  margin:0;
  padding: 0;
}
#nav-breadcrumb li {
  float:left;
  list-style-type:none;
  margin: 0 0.4em 0 0;
  padding:0;
}

/**
 * HTML elements, basic styles
 **/
/**
 * colors
 **/
body {
  background-color: #E7E7E7;
}
#branding {
  background-color: #003163;
  background-image: url('./header.png');
}
#branding-name a {
  color: white;
}
#content-main {
  background-color: #fff;
  border-right: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
}
#nav-main-admin li.active {
  background-color: #E7E7E7;
}
#nav-main-admin li {
  background-color: #185285;
}
#nav-main-admin li a {
  color: white;
}
#nav-main-admin li.active a,
#nav-breadcrumb li a {
  color: #003163;
}
#tools h3 {
  border-bottom: 3px solid #ccc;
}
dd,
.form-item .description {
  font-weight: normal;
  color: #003163;
}


/**
 * fonts
 **/
body {
  font-size:78%;
}

#nav-breadcrumb li a {
  font-size:0.8em;
}
#nav-breadcrumb li a:after {
  content: '/';
}
/** Right hierarchical menu **/
ul.nav.related-content {
  list-style: none;
  border: none;
  text-align:left;
  margin: 0 0 0 14px;
  padding: 0;
}
ul.nav.related-content li {
  padding: 0;
}
ul.nav.related-content li.expanded {
  list-style-type: circle;
  list-style-image: url('menu-expanded.png');
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}
ul.nav.related-content li.collapsed {
  list-style-type: disc;
  list-style-image: url('menu-collapsed.png');
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}
ul.nav.related-content li.leaf {
  list-style-type: none;
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}
li a.active {
  color: #000;
}

/**
 * Tab navigation
 **/
ul#primary-local-tasks {
  border-collapse: collapse;
  padding: 0 0 0 1em;
  white-space: nowrap;
  list-style: none;
  margin: 44px 60px -30px 34px;
  height: 20px;
  line-height: normal;
}
ul#primary-local-tasks  li {
  display: inline;
}
ul#primary-local-tasks  li a {
  background-color: #ddd;
  border-color: #bbb;
  border-width: 1px;
  border-style: solid solid none solid;

  border-right: 3px solid #ccc;
  height: auto;
  margin-right: 0.5em;
  padding: 0 1em;
  text-decoration: none;
}
ul#primary-local-tasks  li.active a {
  background-color: #fff;
  border: 1px solid #bbb;
  border-right: 3px solid #ccc;
  border-bottom: #fff 1px solid;
}
ul#primary-local-tasks  li a:hover {
  background-color: #eee;
  border-color: #ccc;
  border-bottom-color: #eee;
}

ul#secondary-local-tasks  {
  border-bottom: 1px solid #bbb;
  padding: 0.5em 1em;
  margin: 5px;
}
ul#secondary-local-tasks  li {
  display: inline;
  padding: 0 1em;
  border-right: 1px solid #ccc;
}
ul#secondary-local-tasks a {
  padding: 0;
  text-decoration: none;
}
ul#secondary-local-tasks a.active {
  border-bottom: 4px solid #999;
}

/**
 * Special pages
 **/
/**
 * Admin panels
 **/
div.admin .left {
  float: left;
  width: 47%;
  margin-left: 1em;
}
div.admin .right {
  float: right;
  width: 47%;
  margin-right: 1em;
}
#permissions .module {
  font-weight:bold;
}
#permissions .permission {
  padding-left: 1em;
}
.admin-panel h3 {
  background-color: #ebebeb;
  color:#000;
}
.admin-panel dd,
.admin-list dd {
  border-bottom: 1px solid #ebebeb;
}

/**
 * Formatting for status report
 **/
table.system-status-report th {
  border-bottom: 1px solid #ccc;
}
table.system-status-report th, table.system-status-report tr.merge-up td {
  padding-left: 30px;
}
table.system-status-report th  {
  background-repeat: no-repeat;
  background-position: 5px 50%;
  padding-top: 6px;
  padding-bottom: 6px;
}
table.system-status-report tr.error th {
  background-image: url(../../misc/watchdog-error.png);
}
table.system-status-report tr.warning th {
  background-image: url(../../misc/watchdog-warning.png);
}
table.system-status-report tr.ok th {
  background-image: url(../../misc/watchdog-ok.png);
}

/**
 * Module table
 **/
table.package {
  width: 100%;
}
table.package .description {
  width: 100%;
}
div.admin-dependencies, div.admin-required {
  font-size: 0.9em;
  color: #444;
}
span.admin-disabled {
  color: #800;
}
span.admin-enabled {
  color: #080;
}
span.admin-missing {
  color: #f00;
}

/**
 * Collapsing fieldsets
 **/
html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin-bottom: 0;
  height: 1em;
}
html.js fieldset.collapsed * {
  display: none;
}
html.js fieldset.collapsed legend {
  display: block;
}
html.js fieldset.collapsible legend a {
  padding-left: 15px;
  background: url(../../misc/menu-expanded.png) 5px 75% no-repeat;
}
html.js fieldset.collapsed legend a {
  background-image: url(../../misc/menu-collapsed.png);
  background-position: 5px 50%;
}
/* Note: IE-only fix due to '* html' (breaks Konqueror otherwise). */
* html.js fieldset.collapsed legend,
* html.js fieldset.collapsed legend *,
* html.js fieldset.collapsed table * {
  display: inline;
}
html.js fieldset.collapsible legend a {
  display: block;
}
/* Avoid jumping around due to margins collapsing into collapsible fieldset border */
html.js fieldset.collapsible .fieldset-wrapper {
  overflow: auto;
}


/**
 * Forms
 **/
.form-item label {
  display: block;
  font-weight: bold;
  width: 210px;
  float:left;
  clear:both;
}
.form-item label.option {
  display: inline;
  font-weight: normal;
  width: auto;
}
.form-item,
textarea,
fieldset  {
  clear: both;
}
.form-checkboxes,
.form-radios {
  margin: 1em 0;
}
.form-checkboxes .form-item,
.form-radios .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
.form-item .description {
  margin-left:218px;
  float:left;
  clear:both;
}